[workspace]
members = [
	"auction",
	"authority",
	"bencher",
	"benchmarking",
	"currencies",
	"gradually-update",
	"oracle",
	"oracle/rpc",
	"oracle/rpc/runtime-api",
	"tokens",
	"traits",
	"utilities",
	"vesting",
	"rewards",
	"nft",
	"xcm",
	"xtokens",
	"xcm-support",
	"unknown-tokens",
	"build-script-utils",
	"weight-gen",
	"weight-meter",
]

resolver = "2"

[profile.dev]
split-debuginfo = "unpacked"

[patch.'https://github.com/paritytech/substrate']
frame-benchmarking = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
frame-support = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
frame-system = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-authority-discovery = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-authorship = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-babe = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-balances = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-elections-phragmen = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-scheduler = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-session = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-staking = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-timestamp = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-treasury = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
pallet-vesting = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-client-api = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-client-db = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-executor = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-executor-common = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-executor-wasmi = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sc-utils = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-api = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-application-crypto = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-arithmetic = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-authority-discovery = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-authorship = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-blockchain = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-consensus = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-core = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-debug-derive = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-externalities = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-inherents = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-io = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-keystore = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-npos-elections = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-panic-handler = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-runtime = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-runtime-interface = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-session = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-staking = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-state-machine = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-std = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-storage = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-tasks = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-timestamp = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-trie = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-version = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }
sp-wasm-interface = { git = "https://github.com/paritytech//substrate", rev = "4aeb95f7f38fcd519e2628f32f79044a8fef99d5" }

[patch.'https://github.com/paritytech/cumulus']
cumulus-primitives-core = { git = "https://github.com/paritytech//cumulus", rev = "867bfcd8f87cc986d1a3e9eeaf16c8b4e9a27790" }
parachain-info = { git = "https://github.com/paritytech//cumulus", rev = "867bfcd8f87cc986d1a3e9eeaf16c8b4e9a27790" }
cumulus-pallet-dmp-queue = { git = "https://github.com/paritytech//cumulus", rev = "867bfcd8f87cc986d1a3e9eeaf16c8b4e9a27790" }
cumulus-pallet-xcmp-queue = { git = "https://github.com/paritytech//cumulus", rev = "867bfcd8f87cc986d1a3e9eeaf16c8b4e9a27790" }
cumulus-pallet-xcm = { git = "https://github.com/paritytech//cumulus", rev = "867bfcd8f87cc986d1a3e9eeaf16c8b4e9a27790" }

[patch.'https://github.com/paritytech/polkadot']
xcm = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
xcm-executor = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
xcm-builder = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
pallet-xcm = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
polkadot-core-primitives = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
polkadot-runtime-parachains = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
polkadot-parachain = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
polkadot-primitives = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
xcm-simulator = { git = "https://github.com/paritytech//polkadot", rev = "6e3e9e60c2615f1cd715923aea9816ac6b9b59f7" }
