[package]
name = "orml-oracle"
version = "0.0.1"
authors = ["Laminar Developers <hello@laminar.one>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true }
codec = { package = "parity-scale-codec", version = "1.0.0", default-features = false }
sr-primitives = { git = "https://github.com/paritytech/substrate.git", default-features = false }
support = { package = "srml-support", git = "https://github.com/paritytech/substrate.git", default-features = false }
system = { package = "srml-system", git = "https://github.com/paritytech/substrate.git", default-features = false }
runtime_io = { package = "sr-io", git = "https://github.com/paritytech/substrate.git", default-features = false }
rstd = { package = "sr-std", git = "https://github.com/paritytech/substrate.git", default-features = false }
traits = { package = "orml-traits", path = "../traits", default-features = false }
utilities = { package = "orml-utilities", path = "../utilities", default-features = false }
primitives = { git = "https://github.com/paritytech/substrate.git", package = "substrate-primitives", default-features = false }

[dev-dependencies]
timestamp = { package = "srml-timestamp",  git = "https://github.com/paritytech/substrate.git" }


[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sr-primitives/std",
	"support/std",
	"system/std",
	"runtime_io/std",
	"rstd/std",
	"traits/std",
	"utilities/std",
	"primitives/std",
]
