[package]
name = "orml-oracle-rpc"
version = "0.4.1-dev"
authors = ["Laminar Developers <hello@laminar.one>"]
edition = "2021"
license = "Apache-2.0"
description = "RPC module for orml-oracle."

[dependencies]
codec = { package = "parity-scale-codec", version = "3.4.0" }
jsonrpsee = { version = "0.16.2", features = ["client", "server", "macros"] }
tracing = "0.1.29"
tracing-core = "0.1.28"

sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.43" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.43" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.43" }

orml-oracle-rpc-runtime-api = { path = "runtime-api", version = "0.4.1-dev" }