name: Master

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Cache cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry
    - name: Cache cargo index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index
    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
    - name: Install cargo-unleash
      run: cargo install cargo-unleash --version 1.0.0-alpha.10 #FIXME: change to release once it's ready
    - name: Cargo unleash check
      run: cargo-unleash check

