name: Test
#final test
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'

jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        # Only cancel non-master branch runs
        if: ${{ github.ref != 'refs/heads/master' }}
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
  build:
    runs-on: custom-runner-AWS
    env:
      SCCACHE_CACHE_SIZE: "50G"
    needs: cancel
    steps:
    - uses: actions/checkout@v3
    
    - name: Installing Prerequisites
      run: sudo apt-get update
    - name: Installing Prerequisites 1
      run: curl https://sh.rustup.rs -sSf -y | sh 
    - name: Installing Prerequisites 2
      run: sudo apt-get install -y git clang curl libssl-dev llvm libudev-dev
    - name: Installing Prerequisites 3
      run: git config --global submodule.recurse true
    - name: Installing Prerequisites 4
      run: make init

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly-2022-02-19
        components: rustfmt
        target: wasm32-unknown-unknown
        override: true
        default: true
    - name: Install Wasm toolchain
      run: rustup target add wasm32-unknown-unknown
    - name: Check format
      run: make dev-format-check
    - name: Install clippy
      run: rustup component add clippy
    - name: Update
      run: cargo update
    - name: Run clippy
      run: cargo clippy -- -D warnings
    - name: Check for Wasm
      run: make dev-check
    - name: Run tests
      run: make dev-test
